# SPDX-License-Identifier: Apache-2.0
#
# Copyright (C) 2026 Nero Duality, LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow the daemon to create a virtual FIDO HID device and browsers to open it.

KERNEL=="uhid", SUBSYSTEM=="misc", MODE="0660", GROUP="pcsc-fido", OPTIONS+="static_node=uhid"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{name}=="pcsc-fido virtual NFC bridge", MODE="0600", TAG+="uaccess"
